body {
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER-CONTENT */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

header img {
  padding-left: 10px;
  width: 40%;
}

#hamburger-menu {
  width: 20px;
  height: 20px;
  display: block;
  border: none;
  padding: 0px;
  margin: 20px;
  border-radius: 5px;
  background: linear-gradient(
    to bottom,
    #999999,
    #999999 20%,
    white 20%,
    white 40%,
    #999999 40%,
    #999999 60%,
    white 60%,
    white 80%,
    #999999 80%,
    #999999 100%
  );
}

#hamburger-menu #sidebar-menu {
  /* visibilty: hidden; */
  position: fixed;
  top: 0;
  left: -250px;
  width: 200px;
  height: 100%;
  background-color: #3d0e61;
  padding: 0px 10px;
  box-sizing: border-box;
}

/* MAIN CONTENT */

.launching-content {
  margin-top: 70px;
}

.text-purple {
  margin: 1px;
  color: rgb(253, 75, 185);
  text-transform: uppercase;
  font-weight: bold;
  font-size: small;
}

.flex-one {
  width: 50%;
  height: 40vh;
  margin-left: 10px;
}

.flex-one p {
  width: 97%;
}

.font-size {
  font-size: 2rem;
  font-weight: 900;
}

.launching-content img {
  position: relative;
  bottom: 340px;
  left: 145px;
  width: 140%;
}

button {
  padding: 20px 40px;
  border-radius: 40px;
  font-weight: 700;
}

.absolute {
  position: absolute;
  width: 60%;
  left: 20px;
  bottom: 150px;
  line-height: 1.7rem;
}

.free-nft {
  position: relative;
}

/* #background {
  margin-left: -100px;
  width: 350%;
} */

.companies-logo {
  display: flex;
  width: 80%;
  margin-left: 12px;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-between;
  align-items: baseline;
}

.companies-logo img {
  width: 60%;
  padding-top: 15px;
}

.boomerang img {
  width: 130px;
  overflow: hidden;
}

.le-super {
  width: 60%;
}

.card {
  display: flex;
  gap: 2rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.card-flex {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: baseline;
}

h6,
h4,
.text-gray {
  margin: 4px;
}

.text-gray {
  color: #777777;
}

.gold-text {
  color: #ff8139;
}

.footer-img {
  position: relative;
  bottom: 40px;
  left: 30px;
  width: 30%;
}

.flex-two {
  margin-top: 300px;
  width: 50%;
}

.footer-h1 {
  font-size: 3rem;
}
